# Bỏ qua các thư mục sinh ra khi build ROS2
build/
install/
log/

# Bỏ qua bộ nhớ đệm NMPC (ACADOS)
nmpc_build/
*.json

# Bỏ qua các thư mục cache của Python
__pycache__/
*.pyc

# Bỏ qua các thư mục tự tạo của hệ thống và IDE
.vscode/
.idea/
.DS_Store

# Loại bỏ file nén lớn
resources/test10.zip
*.zip

# Loại bỏ dữ liệu ROS2 Bag
*.db3
*.mcap
data/bags/
